:root{
    --mainbody:rgb(35, 35, 35);
    --numbers:rgb(0, 0, 0);
    --display:rgb(183, 183, 183);
}

body{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{
    border: 3px solid black;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--mainbody);
}

input{
    background-color: var(--display);
    width: 100%;
    box-sizing: border-box;
    height: 5vw;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 3vw;
}

.button{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    margin-top: 10px;
    gap: 1.7vw;
    padding: 10px;
}

.numbers{
    background-color: var(--numbers);
    border: 1px solid black;
    border-radius: 100%; 
    height: 4vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2vw;
}

/* ADDING THIS TO CHECK IF IT IS WORKING OR NOT */